@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Playfair+Display:wght@500&display=swap');

:root
{
    --primary-color:rgb(95, 0, 0);
}

h1,h2
{
    font-family: 'Playfair Display', serif;
}

hr
{
    margin: 1.5rem 0rem; 
}
body
{
    font-family: 'Noto Sans JP', sans-serif;
}

.container
{
    padding-left: 2rem;
    padding-right: 2rem;
}

.container-center
{
   max-width: 500px;
   margin: auto;
}

.primary-link
{
    background-color: crimson;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 2rem;
    color:white;
}

.secondary-link
{
    color:crimson;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border:1px solid var(--primary-color);
    border-radius: 0.5rem;
}

.non-bullet
{
    list-style: none;
}

.list-inline
{
    display:inline;
    padding:0rem 0.5rem;
}
.list-inline2
{
    display:inline;
    padding:0rem 1rem;
    color: white;
    list-style: none;
    text-decoration: none;
    
}

.navigation
{
    color:white;
    background-color: crimson;
    border: solid 1px black;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.link1
{
    text-decoration: none;
    color:white;   
}

.align
{
    padding-left: 1rem;
    padding-right: 1rem;
    text-align:right;
    padding-inline-start: 0px;
}

.link-active
{
    font-weight: bold;
    padding:0rem 0.5rem 0.2rem 0.5rem;
    border:2px solid white;
    border-radius:11px;
    font-size: 20px;
}

.link-inactive
{
    font-weight: bold;
    padding:0rem 0.5rem 0.2rem 0.5rem;

    font-size: 20px;
}
.hero 
{
    text-align: center;
    align-items: center;
}

.hero .hero-heading
{
   padding-top: 1rem;
   font-size: 3rem;
   color:crimson;
}

.hero .hero-img
{
    margin: auto;
    width:350px ;
    height: 300px;
    display: block;
    
}

.section h1, h2, h3
{
    text-align: center;
    padding: 2rem;
}

.gray
{ 
    text-align: center;
    background-color: rgb(240, 240, 240);
}

.footer
{
  background-color: crimson;
  padding-top: 2rem 0rem;
  color: white;
  border-bottom-right-radius: 3rem;
  border-bottom-left-radius: 3rem;
  padding-inline-start: 0px;
}

.footer .link
{
    color: white;
}

.social
{
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    
}

.tech
{
    padding-top: 0rem;
    padding-bottom:1rem;
}
  
  .fa:hover {
      opacity: 0.8;
  }

   .logo
   {
      height: 3rem;
      width: 3rem;
      padding: 20px;
      margin-right: 1rem;
   }

.buttons
{
    padding-left: 0rem;
    padding-right: 0rem;
    margin-left: 0rem;
    margin-right: 0rem;
    margin-inline-start: 0rem;
}

.blog .blog-heading 
{
    padding: 0rem 0rem 0rem 0rem;
}

.link
{
    font-size: 20px;
    text-decoration: none;
}

.blog-info
{
    padding: 0rem 0rem 0rem 0rem;
}

.hello
{
    border: solid 2px black;
    align-content: center;
    padding-left: 10rem;
}

.label1
{
    font-size: 60px;
}

.ClickMe
{
    font-size: 30px;
}

.Ques
{
    font-size: 20px;
    color:rgb(79, 1, 18);
    font-weight: bold;
}

.Ans
{
    font-size: 20px;
    height: 35px;
    width: 200px;
    border: 2px solid crimson;
    border-radius: 10px;
    padding-left: 0.5rem;
}

.submitgame 
{
    background-color: whitesmoke;
    border: solid 2px crimson;
    border-radius:5px ;
    font-size: 20px;
}

.click
{
    margin: 0.5rem;
    background-color: whitesmoke;
    border: solid 2px crimson;
    border-radius:5px ;
    font-size: 20px;
}
.Questions
{
    border: 1.5px solid black;
    border-radius: 10px;
    align-content: left;
    padding-left: 1rem;
    padding-right: 0.5rem;
    padding-bottom: 1.5rem;
    margin: auto;
}

.heading
{
    padding: 0rem;
    margin-top: 0rem;
}

.gameimg
{
   display: block;
   margin: 0 auto;
   height: 20rem;
   width: 25rem;
   padding-top: 1rem;

}

.Ans1
{
    border: 1px solid blue;
}